@charset "utf-8";

// 共通設定ここから
body {
    color: #444;
    font-family: 'Roboto', sans-serif;
    font-family: 'Slabo 27px', serif;
    background-color: #000;
    z-index: -10;
}

body:before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    background: radial-gradient(rgba(#000428, .5), rgba(#011222, .5)), url(../images/apple.jpg);
    background-size: cover;
    animation: fadeIn 4s ease 0s 1 normal;
  }

@keyframes fadeIn { /*上のbody内で呼び出しているアニメーションと名前をそろえる*/
    0% {
        opacity: 0
    } /* 始め */
    100% {
        opacity: 1
    } /* 終わり */
}

li {
    list-style-type: none;
}

a {
    color: #ddd;
    text-decoration: none;
}
// 共通設定ここまで

// 各sectionタイトルの文字設定
@mixin title {
    font-size: 2em;
    text-align: center;
    margin-bottom: 1em;
    position: relative;
}

// 各sectionタイトルの擬似要素
@mixin element {
    content: '';
    position: absolute;
    left: calc(50% - 30px);
    bottom: -10px;
    width: 60px;
    height: 3px;
    border-radius: 3px;
    background-color: #0097a7;
}

// 各sectionテキストの文字設定
@mixin text {
    text-align: center;
    font-size: 1em;
    margin-bottom: 2em;
}

// ファーストビューの矢印アニメーション 
@keyframes arrow {
    0% { 
        opacity: 0; 
    }
    50% { 
        opacity: 1; 
    }
    100% { 
        opacity: 0; 
    }
}

// フェードインアニメーション ここから
.fade-in {
    opacity: 0;
    transition-duration: 1000ms;
    transition-property: opacity, transform;
}
  
.fade-in-up {
    transform: translate(0, 50px);
}

.scroll-in {
    opacity: 1;
    transform: translate(0, 0);
}
// フェードインアニメーション ここまで

// ヘッダー領域 ここから
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5em;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .5s;

    @media (max-width: 768px) {
        height: 4em;
    }

    &__title {
        font-size: 2em;
        color: #444;
        margin-left: 1.5em;
        letter-spacing: .1em;

        @media (max-width: 768px) {
            font-size: 1em;
            max-width: 50%;
        }
    }

    span {
        display: inline-block;
    }

    &.scroll {
        background-color: rgba(#444, .9);
    }
}
// ヘッダー領域 ここまで

// ナビゲーション ここから
.gnavi {
    min-width: 25%;
    margin-right: 5%;

    &__list {
        font-size: 1.5em;
        display: flex;
        justify-content: space-between;
    }

    &__item {
        margin-right: 1.2em;
        position: relative;

        &:before {
            content: "";
            position: absolute;
            right: 0;
            left: 0;
            bottom: -10px;
            width: 100%;
            height: 3px;
            background-color: #fff;
            transform: scale(0, 1);
            transform-origin: center;
            transition: transform .3s;
        } 

        &:hover:before {
            transform: scale(1);
        }
    }

    @media (max-width: 768px) {
        display: none;
    }
}
// ナビゲーション ここまで

// ハンバーガーメニュー ここから
.menuButton {
    display: none;
    width: 50px;
    height: 50px;
    position: fixed;
    top: .8%;
    right: 5%;
    z-index: 200;
    transition: .3s;

    @media (max-width: 768px) {
        display: block;
    }

    span {
        display: block;
        width: 60%;
        height: 2px;
        background-color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: ease-out .3s;
    }

    span:nth-of-type(1) {
        transform: translate(-50%, -12px);
    }
    
    span:nth-of-type(3) {
        transform: translate(-50%,10px);
    }

    &.active {

        span:nth-of-type(1) {
            transform: rotate(-45deg) translate(-20%, -21px);
            transform-origin: 100% 50%;
        }

        span:nth-of-type(2) {
            opacity: 0;
            /* transform: translate(-100%, 50%); */
        }

        span:nth-of-type(3) {
            transform: rotate(45deg) translate(-20%,20px);
            transform-origin: 100% 50%;
        }
    }
}
// ハンバーガーメニュー ここまで

// スマホ用ナビゲーション ここから
.spNavi {
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    position: fixed;
    top: 4em;
    z-index: 100;  
    width: 100%;
    // right: 0;
    // max-height: 100vh;
    // overflow: auto;
    // background-color: rgba(#444, .9);

    &.active {
        opacity: 1;
        visibility: visible;
        // transform: translateY(0);
    }

    &.scroll {
        background-color: rgba(#444, .9);
    }

    &__item {
        font-size: 1.5em;
        text-align: right;
        padding-right: 1em;
        line-height: 1.8;

        a {
            display: block;
        }
    }
}

.mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    visibility: hidden;
    transition: .3s;
    // opacity: 0;
    // background-color: #000;

    &.active {
        visibility: visible;
         // opacity: .7;
    }
}
// スマホ用ナビゲーション ここまで

// トップ画面 ここから
.top {
    width: 100%;
    min-height: 100vh;
    position: relative;
    
    &__title {
        width: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: rgba(#fff, .8);
        text-shadow: 1px 1px 1px #180b01;
        font-size: 4em;
        text-align: center;
        letter-spacing: 10px;
        animation: fadeIn 1.5s ease 0s 1 normal;

        @media (max-width: 768px) {
            font-size: 2.5em;
            letter-spacing: 10px;
        }

        @media (max-width: 576px) {
            font-size: 1.5em;
            letter-spacing: 10px;
        }

        span {
            color: #e8822a;
        }

        img {
            width: 80%;

            @media (min-width: 768px) {
                width: 50%;
            }
        }
    }

    &__scroll {
        transition: .5s;

        a {
            position: absolute;
            bottom: 30%;
            left: 50%;
        }
    
        span {
            position: absolute;
            top: 0;
            left: 50%;
            width: 25px;
            height: 25px;
            margin-left: -12px;
            border-left: 1px solid #fff;
            border-bottom: 1px solid #fff;
            transform: rotate(-45deg);
            animation: arrow 2s infinite;
            opacity: 0;
            box-sizing: border-box;

            &:nth-of-type(1) {
                animation-delay: 0s;
            }

            &:nth-of-type(2) {
                top: 20px;
                animation-delay: .15s;
            }

            &:nth-of-type(3) {
                top: 40px;
                animation-delay: .3s;
            }   
        }   
    }
}
// トップ画面 ここまで

// 自己紹介 ここから
.about {
    width: 100%;
    padding: 6em 0;
    background-color: rgba(#F2F5F8, 1);

    &__title {
        @include title;

        &:before {
            @include element;
        }   
    }

    &__subText {
        @include text;
    }

    &__wrap {
        width: clamp(55%, 80vh, 100%);
        margin: 0 auto;
        padding: 1em;
        display: grid;
        gap: 2em;
        grid-template-columns: repeat(2, 1fr); 
        // width: clamp(50%, 80vh, 100%);
        // margin: 0 auto;
        // padding: 1em;
        // display: flex;
        // justify-content: center;

        @media (max-width: 768px) {
            grid-template-columns: repeat(1, 1fr);
            // display: block;
        }
    }

    &__self {
        padding-top: 5em;
        margin-bottom: 2em;
        text-align: center;
        // width: clamp(400px, 30vw, 600px);
        // animation: fadeIn 0.2s ease 0.3s 1 normal;

        @media (max-width: 768px) {
            width: 100%;
            padding-top: 2em;
            text-align: center;
        }

        img {
            width: 250px;
            border-radius: 50%;
        }  
    }

    &__photo {
        margin-bottom: 2em;
    }

    &__hello {
        padding: 2em;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, .8);
        box-shadow: 3px 3px 3px rgba(0, 0, 0, .5);
        // width: clamp(400px, 30vw, 600px);
        
        @media (max-width: 768px) {
            padding: 1em;
            // max-width: 100%;
            // margin: 0 auto;
        }
    }

    &__subTitle {
        font-size: 1.5em;
        padding-bottom: .5em;
    }

    &__text {
        width: 100%;
        font-size: 1.2em;
        font-family: 'Noto Serif JP', serif;
        padding: .5em;
        letter-spacing: .1em;
        line-height: 1.5em;
        text-align: justify;

        &:nth-of-type(1) {
            padding-bottom: 1.5em;
        }

        @media (max-width: 768px) {
            font-size: .9em;
            letter-spacing: 0;
        }
    }

    &__name {
        font-size: 2.5em;
        font-weight: 600;
        line-height: 1.5;
        letter-spacing: .2em;

        @media (max-width: 768px) {
            font-size: 1.8em;
        }
    }

    &__small {
        font-size: 1.5em;
        letter-spacing: .1em;

        @media (max-width: 768px) {
            font-size: 1em;
        }
    }

    &__birthday {
        font-size: 1.5em;

        @media (max-width: 768px) {
            font-size: 1em;
        }
    }
}
// 自己紹介 ここまで

// 学習内容 ここから
.skills {
    width: 100%;
    padding: 6em 0;
    background-color: rgba(255, 255, 255, .5);

    &__title {
        @include title;

        &:before {
            @include element;
        }   
    }

    &__subText {
        @include text;
    }

    &__grid {
        width: clamp(55%, 80vh, 100%);
        margin: 0 auto;
        padding: 1em;
        display: grid;
        gap: 2em;
        grid-template-columns: repeat(2, 1fr);

        @media (max-width: 768px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__item {
        padding: 1em;
        border-radius: 10px;
        background-color: rgba(#fff, .9);
        box-shadow: 3px 3px 3px rgba(0, 0, 0, .5);
        display: flex;
        justify-content: space-around;
    }

    &__logo {
        font-size: 5em;
        max-width: 100%;
        padding: 3%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__content {
        max-width: 250px;

        @media (max-width: 768px) {
            max-width: 50%;
        }
    }

    &__name {
        font-size: 1.5em;
        padding-bottom: .5em;
        text-align: center;
    }

    &__text {
        font-size: 1.2em;
        font-family: 'Noto Serif JP', serif;
        padding: .5em;
        letter-spacing: .1em;
        line-height: 1.5em;
        text-align: justify;
        word-break: break-all;

        @media (max-width: 768px) {
            font-size: .9em;
            letter-spacing: 0;
        }
    }
}
// 学習内容 ここまで

// 実績紹介 ここから
.works {
    width: 100%;
    padding: 6em 0;
    background-color: rgba(#f2f5f8, 1);;

    &__title {
        @include title;

        &:before {
            @include element;
        }   
    }

    &__subText {
        @include text;
    }

    &__grid {
        width: clamp(55%, 80vh, 100%);
        margin: 0 auto;
        padding: 1em;
        display: grid;
        gap: 2em;
        grid-template-columns: repeat(2, 1fr);

        @media (max-width: 768px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__item {
        padding: 1em;
        border-radius: 10px;
        background-color: rgba(#fff, .9);
        box-shadow: 3px 3px 3px rgba(0, 0, 0, .5);
        overflow: hidden;
        position: relative;

        img {
            width: 100%;
        }
    }

    &__caption {
        font-size: 1.5em;
        color: #fff;
    }

    &__mask {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        background-color:rgba(0, 0, 0, .4);
        transition:	all 0.2s ease;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    &__item:hover {
        .works__mask {
            opacity: 1;
        }
    }
}
// 実績紹介 ここまで

// 価値観 ここから
.value {
    width: 100%;
    padding: 6em 0;
    background-color: rgba(255, 255, 255, .5);
    // height: 100vh;

    &__title {
        @include title;

        &:before {
            @include element;
        }   
    }

    &__subText {
        text-align: center;
        font-size: 1em;
        margin-bottom: 2em;
    }

    &__wrap {
        width: clamp(55%, 80vh, 100%);
        margin: 0 auto;
        padding: 1em;
    }

    &__content {
        padding: 2em;
        border-radius: 10px;
        background-color: rgba(#fff, .9);
        box-shadow: 3px 3px 3px rgba(0, 0, 0, .5);
        
        @media (max-width: 768px) {
            padding: 1em;
        }
    } 

    &__text {
        width: 100%;
        font-size: 1.2em;
        font-family: 'Noto Serif JP', serif;
        padding: .5em;
        letter-spacing: .1em;
        line-height: 2.5em;
        text-align: center;

        @media (max-width: 768px) {
            font-size: .9em;
            letter-spacing: 0;
            text-align: justify;
        }
    }

    &__subTitle {
        font-size: 2em;
        text-align: center;
        padding-bottom: 1em;

        span {
            font-size: 1.5em;
            color: #e8822a;
            text-shadow: 1px 1px .5px #ccc;
        }

        @media (max-width: 768px) {
            font-size: 1.5em;
        }
    }
}
// 学習内容 ここまで

// 問い合わせ ここから
.contact {
    width: 100%;
    margin: 0 auto;
    padding: 6em 0 ;
    background-color: rgba(#F2F5F8, 1);

    &__title {
        @include title;

        &:before {
            @include element;
        }   
    }

    &__subText {
        @include text;
    }

    &__form {
        width: 500px;
        margin: 0 auto;

        @media (max-width: 768px) {
            width: 100%;
            padding: 1em;
        }
    }

    &__content {
        margin-bottom: 1em;
    }

    &__warning {
        color: rgb(200, 45, 45);
    }

    label {
        display: block;
    }

    input,
    textarea {
        display: block;
        width: 100%;
        padding: .5em;
        background-color: #fff;
        border: 1px solid rgba(#444, .5);
    }

    button {
        display: block;
        width: 100px;
        margin: 2em auto;
        padding: .5em;
        background-color: #0097A7;
        color: #eee;
        text-align: center;
        border-radius: 3px;

        &:hover {
            background-color: rgba(#0097A7, .8);
        }

        @media (max-width: 768px) {
            width: 50%;
        }
    }
}
// 学習内容 ここまで

// 「トップへ戻る」ボタン ここから
.scroll-top {
    position: fixed;
    right: 2em;
    bottom: 2em;
    z-index: 200;
    background-color: rgba(#444, .8);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    color: #fff;
    visibility: hidden;

    @media (max-width: 768px) {
        right: .5em;
        bottom: .5em;
        width: 30px;
        height: 30px;
    }

    &.active {
        visibility: visible;
    }

    &:hover {
        cursor: pointer;
    }
}
// 「トップへ戻る」ボタン ここまで

// フッター領域 ここから
.footer {
    width: 100%;
    height: 3em;
    color: #ddd;
    text-align: center;
    background-color: rgba(#444, .9);
    display: flex;
    justify-content: center;
    flex-direction: column;
}
// フッター領域 ここまで