.selector-for-some-widget {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

body::before {
  content: "";
  width: 100%;
  height: 100vh;
  background-image: url("../images/top.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #f7f7f7;
}

h1 {
  font-family: 'Kosugi Maru', sans-serif;
}

time {
  font-weight: 600;
}

hr {
  margin: .7em 0;
}

.header {
  width: 100%;
  height: 4em;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__title {
  font-size: 1.5em;
  margin-left: 5%;
}

@media (max-width: 575.98px) {
  .header__title {
    font-size: 1em;
  }
}

.header__menu {
  font-size: 1.1em;
  margin-right: 3%;
}

@media (max-width: 575.98px) {
  .header__menu {
    font-size: .5em;
  }
}

.gnavi .btn {
  width: 200px;
  margin: 0 auto;
  padding: 1em;
  border-radius: 3px;
}

.drawer-menu-item {
  padding: 0.2em 1.5em;
}

.drawer-hamburger-icon,
.drawer-hamburger-icon:after,
.drawer-hamburger-icon:before {
  background-color: #f7f7f7;
  height: 1.5px;
}

.drawer-hamburger {
  padding-right: 1em;
}

.drawer--right.drawer-open .drawer-hamburger {
  right: 0px;
}

.drawer--right.drawer-open .drawer-hamburger-icon:after,
.drawer--right.drawer-open .drawer-hamburger-icon:before {
  background-color: #444;
}

.top {
  width: 100%;
  height: 90vh;
  position: relative;
}

.top__box {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.top__title {
  font-size: 3rem;
}

@media (max-width: 991.98px) {
  .top__title {
    font-size: 1.8em;
  }
}

@media (max-width: 575.98px) {
  .top__title {
    font-size: 1.2em;
  }
}

.top__text {
  font-size: 1.5rem;
}

@media (max-width: 991.98px) {
  .top__text {
    font-size: 1em;
  }
}

@media (max-width: 575.98px) {
  .top__text {
    font-size: .5em;
  }
}

.top__link {
  width: 200px;
  margin: 0 auto;
  padding: 1em;
  border-radius: 3px;
}

.greet {
  width: 100%;
  padding: 3em 0;
}

.greet__title {
  font-size: 2em;
  text-align: center;
  padding: 1em 0 2em;
}

@media (max-width: 575.98px) {
  .greet__title {
    font-size: 1.2em;
  }
}

.greet__content img {
  width: 100%;
  border-radius: 3%;
}

.greet__text {
  font-size: 1.1em;
  line-height: 1.8em;
  text-align: justify;
}

@media (max-width: 575.98px) {
  .greet__text {
    font-size: .9em;
  }
}

.greet__link {
  width: 200px;
  margin: 0 auto;
  padding: 1em;
  border-radius: 3px;
}

.greet__subText {
  font-size: 1.1em;
  line-height: 1.8em;
  text-align: justify;
  margin-top: 2em;
}

@media (max-width: 575.98px) {
  .greet__subText {
    font-size: .9em;
  }
}

.info {
  width: 100%;
  padding: 3em 0;
  background-color: #f7f7f7;
}

.info__height {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.info__box {
  padding: 10%;
  background-color: #fff;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info__box img {
  width: 100%;
  border-radius: 3px;
}

.info__title {
  font-size: 1.5em;
  padding: .8em;
}

.info__text {
  font-size: 1.1em;
  line-height: 1.8em;
}

@media (max-width: 575.98px) {
  .info__text {
    font-size: .9em;
  }
}

.intro {
  width: 100%;
  padding: 3em 0;
}

.intro__title {
  font-size: 2em;
  text-align: center;
  padding: 1em 0 2em;
}

@media (max-width: 575.98px) {
  .intro__title {
    font-size: 1.2em;
  }
}

.intro img {
  width: 100%;
}

.intro__name {
  font-size: 2em;
  margin-bottom: 1em;
}

@media (max-width: 767.98px) {
  .intro__name {
    font-size: 1.5em;
    text-align: center;
  }
}

.intro__small {
  font-size: .7em;
}

.intro__list {
  font-size: 1.1em;
}

@media (max-width: 767.98px) {
  .intro__list {
    font-size: .9em;
    text-align: center;
  }
}

.ginfo {
  width: 100%;
  padding: 3em 0;
  background-color: #f7f7f7;
}

.ginfo__height {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.schedule {
  width: 100%;
  background-color: #fff;
  padding: 3em 0;
}

.schedule__title {
  font-size: 2em;
  text-align: center;
  padding: 1em 0 2em;
}

@media (max-width: 575.98px) {
  .schedule__title {
    font-size: 1.2em;
  }
}

.schedule__table {
  width: 100%;
}

.schedule__row {
  text-align: center;
}

.schedule__text {
  text-align: center;
  padding: 1.5em;
}

@media (max-width: 575.98px) {
  .schedule__text {
    font-size: .9em;
  }
}

.schedule__g {
  height: 0;
  overflow: hidden;
  padding-bottom: 100%;
  position: relative;
}

.schedule__g iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.access {
  width: 100%;
  background-color: #fff;
  padding: 3em 0;
}

.access__title {
  font-size: 2em;
  text-align: center;
  padding: 1em 0 2em;
}

@media (max-width: 575.98px) {
  .access__title {
    font-size: 1.2em;
  }
}

.access__g {
  height: 0;
  overflow: hidden;
  padding-bottom: 100%;
  position: relative;
}

.access__g iframe {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.access__text {
  font-size: 1.1em;
  line-height: 1.8em;
  margin-bottom: 0;
}

@media (max-width: 575.98px) {
  .access__text {
    font-size: .9em;
  }
}

.news {
  width: 100%;
  padding: 3em 0;
  background-color: #fff;
}

.news__title {
  font-size: 2em;
  text-align: center;
  padding: 1em 0 2em;
}

@media (max-width: 575.98px) {
  .news__title {
    font-size: 1.2em;
  }
}

.news__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 575.98px) {
  .news__list {
    font-size: .9em;
  }
}

.news__list__title {
  margin-right: 2em;
}

.reserve {
  width: 100%;
  padding: 3em 0;
  background-color: #f7f7f7;
}

.reserve__title {
  font-size: 2em;
  text-align: center;
  padding: 1em 0 2em;
}

@media (max-width: 575.98px) {
  .reserve__title {
    font-size: 1.2em;
  }
}

.reserve__box {
  padding: 2em;
  text-align: center;
  background-color: #fff;
}

.reserve__subTitle {
  font-size: 1.5em;
}

@media (max-width: 575.98px) {
  .reserve__subTitle {
    font-size: 1.2em;
  }
}

.reserve__tel {
  font-size: 2.5em;
}

@media (max-width: 575.98px) {
  .reserve__tel {
    font-size: 1.5em;
  }
}

.reserve__subText {
  display: inline-block;
  text-align: left;
}

@media (max-width: 575.98px) {
  .reserve__subText {
    font-size: .9em;
  }
}

.contact {
  width: 100%;
  padding: 3em 0;
  background-color: #fff;
}

.contact__title {
  font-size: 2em;
  text-align: center;
  padding: 1em 0 2em;
}

@media (max-width: 575.98px) {
  .contact__title {
    font-size: 1.2em;
  }
}

.contact__text {
  text-align: center;
}

.footer {
  width: 100%;
  padding: 3em 0;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__link {
  width: 100%;
  padding: 0;
  line-height: 1.8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 450px) {
  .footer__link {
    display: block;
    text-align: center;
  }
}

@media (max-width: 575.98px) {
  .footer__link {
    font-size: .9em;
  }
}

.footer__link__item {
  margin: 2%;
}

.footer__contact {
  padding: 0;
  text-align: center;
}

@media (max-width: 575.98px) {
  .footer__contact {
    font-size: .9em;
  }
}

.footer__copyright {
  text-align: center;
}

@media (max-width: 575.98px) {
  .footer__copyright {
    font-size: .9em;
  }
}
/*# sourceMappingURL=style.css.map */